######################
# Directories
######################
target/
generated-java/
build/
node/
node_modules/
**/bower_components/
######################
# IntelliJ IDEA and WebStorm
######################
.idea/
*.iml
######################
# Windows
######################
Thumbs.db
Desktop.ini
######################
# OS X
######################
.DS_Store
